# Copiez ce fichier en .env et remplissez vos valeurs
# cp .env.example .env

# PostgreSQL
POSTGRES_DB=banqueanalytics2
POSTGRES_USER=votre_user
POSTGRES_PASSWORD=votre_mot_de_passe
DB_PORT=5433

# pgAdmin
PGADMIN_EMAIL=votre_email@exemple.com
PGADMIN_PASSWORD=votre_mot_de_passe_pgadmin
